{% load staticfiles %}
<html>
    <head>
        <title>Add Entry</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Add an Entry</h1>
            <div style="text-align: right;">
                <a class="btn btn-default" href="{% url 'journals:journals' %}">Back</a>
            </div>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'journals:entry_create_confirm' journal.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="description">Body:</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>